    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
                <p>
                    Conperis is an analytics startup for data quality in TINI Systems. 
                    Its analytics services enhance and speed-up TINI's customer support by investigating complex data issues.
                </p>
              </div>
        </div>
    </section>
