<section id="business">
        <div class="container container-section text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
			<br/><br/>
                	<h2>Business Model</h2>
                </div>
            </div>
        </div>
	
       <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 text-center">
                        <i class="fa fa-4x fa-exclamation text-primary sr-icons"></i>
			<div class="clearfix"></div>
                        <h3>Problem</h3>
			<ul class="list-unstyled">
				<li class="text-muted">Data quality black box; </li>
				<li class="text-muted">Incomplete knowledge on avail data; </li>
				<li class="text-muted">Limited internal resources for dev &amp; ops of tailored analysis tools</li>
			</ul>						
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                        <i class="fa fa-4x fa-lightbulb-o text-primary sr-icons"></i>
			<div class="clearfix"></div>
                        <h3>Solution</h3>
			<ul class="list-unstyled text-muted">
				<li>Analysis service for data quality control; </li>
				<li>SaaS analysis operation &amp; maintenance via cloud</li>
			</ul>						
                </div>
                <div class="col-lg-3 col-md-4 text-center">
                        <i class="fa fa-4x fa-usd text-primary sr-icons"></i>
                        <div class="clearfix"></div>
			<h3>Value</h3>
			<ul class="list-unstyled text-muted small">
				<li>Accelerated and direct support response; </li>
				<li>Unloads work from dev teams and improves system diagnosis; </li>
				<li>Operation and maintenance free usage</li>
			</ul>						
                </div>
            </div>
        </div>		
</section>
